

<div class="container my-5 pt-10">
        <div class="row">
            <div class="col-md-5">
                <div class="main-img">
                    <img class="img-fluid" src="{{figure.image}}" alt="ProductS">
                </div>
            </div>
            <div class="col-md-7">
                <div class="main-description px-2">
                    <div class="category text-bold">
                        {{figure.height}}
                    </div>
                    <div class="product-title text-bold my-3">
                        {{ figure.name }}
                    </div>


                    <div class="price-area my-4">
                        <p class="old-price mb-1"><del></del> <span class="old-price-discount text-danger">{{ figure.material }}</span></p>
                        <p class="new-price text-bold mb-1" style="color: green;">{{ figure.price }}</p>
                        <p class="text-secondary mb-1">{{ figure.description }}</p>

                    </div>


                    <div class="buttons d-flex my-5">
                        <div class="block">
                            <a href="/figure" class="shadow btn custom-btn ">Back</a>
                        </div>
                        <div class="block">
                            <button class="shadow btn custom-btn">Add to cart</button>
                        </div>
                    </div>




                </div>

                <div class="product-details my-4">
                    <p class="details-title text-color mb-1">Product Details</p>
                    <p class="description">{{ figure.description }}</p>
                </div>
                
             
            </div>
        </div>
    </div>