<div class="container mydiv">
    <div class="row">
        {{#each planes }}
              <div class="col-md-4">
            <!-- bbb_deals -->
            <div class="bbb_deals">
                <div class="ribbon ribbon-top-right"><span><small class="cross"></small>D</span></div>
                <div class="bbb_deals_title">Figure</div>
                <div class="bbb_deals_slider_container">
                    <div class=" bbb_deals_item">
                        <div class="bbb_deals_image"><a href="/plane/detail/{{_id}}"><img src="{{image}}" alt=""></a></div>
                        <div class="bbb_deals_content">
                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                <div class="bbb_deals_item_category"><a href="#">{{ material }}</a></div>

                            </div>
                            <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                <div class="bbb_deals_item_name text-center">{{ name }}</div>
                            </div>
                            <div class="bbb_deals_item_price ml-auto ">${{ price }}</div>
                            <div class="available">
                                <div class="available_line d-flex flex-row justify-content-start">
                                    <div class="available_title">Available: <span>6</span></div>
                                    <div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                                </div>
                                <div class="available_bar"><span style="width:17%"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
      
    </div>
</div>